@media screen and (max-width: 650px) {
  .brand {
    overflow: hidden;
    &__wrapper {
      width: 200%;
      gap: 2rem;
    }
    &__item {

    }
    &__group {
      width: 100%;
      padding: 1rem 1rem 1rem 2rem;
    }

    &__arrow {
      display: block;
    }
  }
}
