@media screen and (max-width: 768px) {
  .feature {
    overflow: hidden;

    &__wrapper {
      width: 200%;
    }

    &__group {
      width: 100%;
      gap: 1.5rem;
      padding: 2rem;
    }

    &__arrow {
      display: block;
    }
  }
}
