.banner-top {
  img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
  }

  &__text {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    row-gap: 2rem;
    padding: 1rem;
    width: 100%;
  }

  &__title {
    color: white;
    font-size: 3rem;
  }

  &__link {
    color: #f0ececa9;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;

    &:hover {
      color: #fdfbfbee;
    }
  }

  &__left {
    position: relative;
    width: 100%;
    aspect-ratio: 2 / 3;
  }

  &__right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
  }

  &__image {
    position: relative;
  }

  &__image.full {
    grid-column: span 2;
  }
}

.banner-bottom {
  &__item {
    position: relative;
    overflow: hidden;
    row-gap: 2rem;
  }

  &__title {
    color: #646363;
    text-transform: uppercase;
    text-align: center;
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
  }

  img:hover {
    transform: scale(1.1);
  }
}
