.brand {
  &__container {
    row-gap: 2rem;
    padding: 2rem 0;
    position: relative;
  }

  &__list {
    transition: transform 0.3s ease-in-out;
  }

  &__item {
    img {
      width: 100%;
      filter: grayscale(1);
      transition: filter 0.3s ease-in-out;

      &:hover {
        filter: grayscale(0);
      }
    }
  }


  &__arrow {

    &--left {
      top: 57%;
      left: -2.5rem;
    }

    &--right {
      top: 57%;
      right: -2.5rem;
    }
  }
}
