@media screen and (max-width: 960px) {
  .header {
    &__menu {
      opacity: 1;
      width: 10rem;
    }

    &__search {
      width: 10rem;
      &-input {
        display: none;
      }
    }
  }
}
