.auth-container {
  width: 100%;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.auth-container h2 {
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}
.auth-container label {
  display: block;
  text-align: left;
  margin: 10px 0 5px;
  font-weight: bold;
  color: #333;
}
.auth-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #6c757d;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}
.auth-container .error-messages {
  margin: 10px 0;
  padding: 10px;
  border-left: 5px solid #dc3545;
  background: #fae3e5;
  border-radius: 5px;
  text-align: left;
}
.auth-container .error-messages p.error {
  color: #dc3545;
  font-size: 14px;
  margin: 5px 0;
}
.auth-container button {
  width: 100%;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
  transition: background 0.3s;
}
.auth-container button:hover {
  background: #0062cc;
}
.auth-container a {
  display: block;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
}
.auth-container a:hover {
  text-decoration: underline;
}

.auth-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-container {
  max-width: 80rem;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile__form {
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  flex-direction: column;
}
.profile__title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 2rem;
}
.profile__description {
  margin-bottom: 20px;
  font-size: 1.5rem;
}
.profile label {
  margin-top: 10px;
  font-weight: bold;
}
.profile input,
.profile select {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}
.profile a {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: #333;
}
.profile a:hover {
  text-decoration: underline;
}