RewriteEngine On

# Nếu file hoặc thư mục tồn tại, không rewrite
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Chuyển /product/1 -> index.php?page=product&id=1
RewriteRule ^product/([0-9]+)$ /app/views/index.php?page=product&id=$1 [L,QSA]

# Chuyển /watches/limited-edition -> index.php?page=watches&feature=limited-edition
RewriteRule ^watches/([^/]+)$ index.php?page=watches&feature=$1 [L,QSA]

# Chuyển /contact -> index.php?page=contact
RewriteRule ^contact$ index.php?page=contact [L,QSA]
